DEBUG=True
SECRET_KEY=))!!x36q3k_h&3-pey68&umui-hst#fsw0+!#qx%q03r=42gae
ALLOWED_HOSTS=127.0.0.1,localhost
APP_API=apps/api
APP_DASHBOARD=apps/dashboard
DATA_DIR=data/
MODEL_DIR=models/
DEFAULT_CITY=Izmir